@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap");

body {
  background: #ffff;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 400px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* HEADER */
.cabecalho {
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;
  align-items: center;
}

.switches {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.switch-label {
  font-size: 14px;
  color: #121212;
  display: flex;
  align-items: center;
  margin-left: -180px;
}

/* TOGGLE SWITCH */
.switch {
  position: relative;
  width: 55px;
  height: 26px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  background-color: #878787;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: 0.3s;
}

.slider:before {
  content: "";
  position: absolute;
  width: 22px;
  height: 22px;
  left: 2px;
  top: 2px;
  background-color: #f5e97a;
  border-radius: 50px;
  transition: 0.3s;
}

.switch input:checked + .slider {
  background-color: #121212;
}

.switch input:checked + .slider:before {
  transform: translateX(29px);
}
/* TÍTULO */
.titulo {
  margin-top: 20px;
  font-size: 26px;
}

/* TEXTAREA */
.inputTexto {
  width: 80%;
  height: 150px;
  padding: 10px;
  border: 2px solid #121212;
  border-radius: 10px;
  font-size: 18px;
  color: #878787;
  font-weight: bold;
  margin-top: 30px;
  resize: none;
}

/* BOTÃO ENVIAR */
.btnEnviar {
  margin-top: 50px;
  background: #121212;
  color: #f5e97a;
  padding: 12px 35px;
  font-size: 22px;
  border-radius: 30px;
  border: none;
  font-weight: bold;
  margin-bottom: 50px;
}

.btnEnviar:hover {
  background-color: #878787;
  cursor: pointer;
}

/* Dúvidas Frequentes (Accordion) */
.accordion {
  width: 100%;
  margin-top: 30px;
}

.item {
  margin-bottom: 10px;
}

.accordion-button {
  background-color: #121212;
  color: #f5e97a;
  padding: 15px;
  width: 80%;
  border: none;
  text-align: left;
  font-size: 18px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

.accordion-button:hover {
  background-color: #878787;
}

.accordion-content {
  background-color: #f5e97a;
  padding: 15px;
  border-radius: 5px;
  margin-top: 10px;
  display: none;
  font-size: 16px;
  text-align: left;
}

.accordion-button.active + .accordion-content {
  display: block;
  align-items: center;
  width: 72%;
  margin-left: 40px;
}

/* FOOTER */
.footer {
  margin-top: 20px;
}

.home-icon {
  width: 50px;
  height: 50px;
  display: block;
  margin: 0 auto;
}

.home-icon img {
  width: 100%;
  height: 100%;
}

.home-icon:hover {
  cursor: pointer;
}
