@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap");

body {
  background: #ffff;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 400px;
  height: 500px;
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* HEADER */
.cabecalho {
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;
  align-items: center;
}

.switches {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.switch-label {
  font-size: 14px;
  color: #121212;
  display: flex;
  align-items: center;
  margin-left: -180px;
}

/* TOGGLE SWITCH */
.switch {
  position: relative;
  width: 55px;
  height: 26px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  background-color: #878787;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: 0.3s;
}

.slider:before {
  content: "";
  position: absolute;
  width: 22px;
  height: 22px;
  left: 2px;
  top: 2px;
  background-color: #ffff;
  border-radius: 50px;
  transition: 0.3s;
}

.switch input:checked + .slider {
  background-color: #878787;
}

.switch input:checked + .slider:before {
  transform: translateX(29px);
}

/* TÍTULO */
.titulo {
  margin-top: 20px;
  font-size: 26px;
}

/* CAMPOS */
.container {
  margin-top: 30px;
  align-items: center;
}

.linha {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  gap: 20px;
}

.campo {
  width: 110px;
  height: 50px;
  border: 5px solid #121212;
  border-radius: 15px;
  font-size: 50px;
  text-align: center;
  color: #878787;
  font-weight: 800;
  margin-bottom: 30px;
}

.campo::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.seta {
  font-size: 50px;
}

/* BOTÃO CALCULAR */
.btnCalcular {
  margin-top: 10px;
  background: #000;
  color: #f5e97a;
  padding: 12px 35px;
  font-size: 22px;
  border-radius: 30px;
  border: none;
  font-weight: bold;
}

.btnCalcular:hover {
  background-color: #878787;
  cursor: pointer;
}

/* BOTÃO OPINIÃO */
.btnOpiniao {
  background: #121212;
  color: #f5e97a;
  border: none;
  padding: 8px 8px;
  border-radius: 20px;
  font-weight: bold;
  margin-left: 230px;
  text-decoration: none;
}

.btnOpiniao:hover {
  background-color: #878787;
  cursor: pointer;
}

/* MODO ESCURO*/
.dark {
  background: #121212;
  color: #f5e97a;
}

.dark .titulo {
  color: #f5e97a;
}

.dark .campo {
  background: #ffffff;
  border-color: #f5e97a;
  color: #121212;
}

.dark .campo::placeholder {
  color: #878787;
}

.dark .seta {
  color: #f5e97a;
}

.dark .btnCalcular {
  background: #f5e97a;
  color: #121212;
}

.dark .btnCalcular:hover {
  background: #d4c86a;
}

.dark .btnOpiniao {
  background: #f5e97a;
  color: #121212;
}

.dark .btnOpiniao:hover {
  background: #d4c86a;
}

.dark .switch-label {
  color: #ffffff;
}

/* MODO DALTONISMO */
.daltonismo {
  background: #ffff;
  color: #878787;
}

.daltonismo .titulo {
  color: #878787;
}

.daltonismo .campo {
  background: #ffff;
  border-color: #878787;
  color: #878787;
}

.daltonismo .campo::placeholder {
  color: #878787;
}

.daltonismo .seta {
  color: #878787;
}

.daltonismo .btnCalcular {
  background: #bdbdbd;
  color: #ffff;
}

.daltonismo .btnCalcular:hover {
  background: #878787;
}

.daltonismo .btnOpiniao {
  background: #bdbdbd;
  color: #ffff;
}

.daltonismo .btnOpiniao:hover {
  background: #878787;
}

.daltonismo .switch-label {
  color: #121212;
}

.daltonismo .slider {
  background-color: #878787;
}

.daltonismo .switch input:checked + .slider {
  background-color: #878787;
}

.daltonismo .logo {
  filter: none;
}
