body {
  font-family: Arial, sans-serif;
  background: #fff;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 400px;
  height: 500px;
}

/* HEADER */
.cabecalho {
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;
  align-items: center;
}

.switches {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.switch-label {
  font-size: 14px;
  color: #000;
  display: flex;
  align-items: center;
  margin-left: -180px;
}

/* TOGGLE SWITCH */
.switch {
  position: relative;
  width: 55px;
  height: 26px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  background-color: #ccc;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: 0.3s;
}

.slider:before {
  content: "";
  position: absolute;
  width: 22px;
  height: 22px;
  left: 2px;
  top: 2px;
  background-color: #f6e679;
  border-radius: 50px;
  transition: 0.3s;
}

.switch input:checked + .slider {
  background-color: #000;
}

.switch input:checked + .slider:before {
  transform: translateX(29px);
}

/* TÍTULO */
.titulo {
  margin-top: 20px;
  font-size: 26px;
}

/* CAMPOS */
.container {
  margin-top: 30px;
}

.linha {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  gap: 20px;
}

.campo {
  width: 110px;
  height: 65px;
  border: 3px solid #000;
  border-radius: 15px;
  font-size: 32px;
  text-align: center;
  color: #bdbdbd;
  font-weight: bold;
}

.seta {
  font-size: 26px;
}

/* BOTÃO CALCULAR */
.btnCalcular {
  margin-top: 10px;
  background: #000;
  color: #f6e679;
  padding: 12px 35px;
  font-size: 22px;
  border-radius: 30px;
  border: none;
  font-weight: bold;
}

/* BOTÃO OPINIÃO */
.btnOpiniao {
  background: #000;
  color: #f6e679;
  border: none;
  padding: 8px 8px;
  border-radius: 20px;
  font-weight: bold;
  margin-left: 230px;
}
